.backgroundColorNav {
    background-color: #307FE8;
    color: black;
}

.navbar {
    position: fixed;
    width: 100%;
}

.textNav {
    color: white !important;
    font-weight: 600;;;
}

.heighFull {
    height: 100vh;
}

.section-one {
    padding-top: 64px;
    background-color: white;
}

.title-section-one {
    color: #307FE8;
    font-size: 50px;
    margin-bottom: -30px;
    margin-top: -40px
}

.title2-section-one {
    color: #307FE8;
    font-size: 70px;
    font-weight: 800;
    margin-bottom: 0px;
}

.subtitle-section-one{
    color: #3c3c3c;
    font-size: 20px;
    font-weight: 500;
    margin-right: 40px;
}

.logo { 
    width: 64px;
    padding-right: 20px;
}

.d-flex{
    margin-left: 120px;
    margin-right: 120px;
}


/* .div-content-section-one {
    padding: 0 120px

} */

/* SECÇÃO 2 */

.section-two {
    background-color: #54ADFF;
}

.btn-services-section-two {
    color: #307FE8;
    background-color: white;
    border: none;
    position: absolute; right: 120px;
}

.btn-services-section-two:hover{
    color: black;
    background-color: white
}

.btn-services-section-two:focus{
    color: black;
    background-color:white;;
}

.title-section-two {
    color: white;
    text-align: right;
    font-size: 70px;
    font-weight: 800;
}

.title2-section-two {
    color: white;
    text-align: right;
    font-size: 70px;
    font-weight: 800;
    margin-top: -40px;
    margin-bottom: 0px;
}

.subtitle-section-two {
    color: white;
    text-align: right;;
    font-size: 20px;
    font-weight: 500;
    margin-left: 40px;
}
